.Couleur_texte { background-color:#010308;color:#010308;}
.DD_D7_D8_D9 { background-color:#de9a4b;color:#010308;}
.DD_P10_P11_P12_NC { background-color:#e80505;color:#010308;}
.DD_R4_R5_R6 { background-color:#62cd95;color:#010308;}
.DH_D7_D8 { background-color:#1ef013;color:#010308;}
.DH_D9_P10 { background-color:#cad6af;color:#010308;}
.DH_P11_P12_NC { background-color:#960e59;color:#010308;}
.DH_R4_R5_R6 { background-color:#db0d7e;color:#010308;}
.DH_VETERAN { background-color:#2493b9;color:#010308;}
.PAUSE { background-color:#DCDCDC;color:#010308;}

                          #echeancier td {
                            width:180px;
                            font-weight : bold;
                           
                            border-style:solid;
                            border-width:thin;
                            border-color:grey;
                            text-align:center;
                            border-radius : 10px;
                          }
                          #echeancier {
                                      width:100%;
                                      }
                          .num_match {
                            width:30px;
                            background:transparent;
                            font-weight : bold;
                            color:white;
                            border-style:hidden;
                            font-style: century gothic;
                            font-size: 16px;
                          }
                          .PAUSE {
                                  background-color:#DCDCDC;
                                  font-style:italic;
                                 }
                          #echeancier .horaire {
                            width:60px;
                            text-align:center;
                            background-color:#CCFFFF ;
                            color:black;
                          }
                .etat_1 {
          background-color: #90EE90; 
          color:red;     
          
}
.etat_2 {
          background-color: #FF7F50;
          text-decoration:line-through;
          background-image:url('images/stripetranspar.png');
          color:white;
      
}
.etat_3 {
          text-decoration:line-through;
          background-image:url('images/WO.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size: 90px;
          color:white;
      
}
.aucun {
         background-color:LightGray;
}
.titre {
  font-style:bold; 
  texte-decoration:underline;
  background-color:red;
}
@media print {
button {
display:none;}
input {
display:none;}
.terrain {
display:none;
}
}
                          
                          