.Couleur_texte ._MX_S2 ._MX_S3 ._MX_S3_DEMI ._MX_S4 ._MX_S4_DEMI ._MX_S4_QUA ._MX_S5 ._MX_S5_DEMI ._MX_S5_QUA ._PAUSE ._SD_S3 ._SD_S3_DEMI ._SD_S4 ._SH_S ._SH_S2 ._SH_S2_DEMI ._SH_S2_QUA ._SH_S3 ._SH_S3_DEMI ._SH_S3_QUA ._SH_S4 ._SH_S4_1 ._SH_S4_DEMI ._SH_S4_QUA ._SH_S5 ._SH_S5_1 ._SH_S5_DEMI ._SH_S5_QUA  {
                  color : black;
                  background-color:white;
                  
                }
                .PAUSE {
                        background-color:#DCDCDC;
                        font-style:italic;
                }
                #echeancier td {
                  width:180px;
                  font-weight : bold; 
                  border-style:solid;
                  border-width:thin;
                  border-color:grey;
                  text-align:center;
                  border-radius : 10px;
                }
                #echeancier {                          
                            width:100%;
                            }
                 .num_match{
                  width:30px;
                  background:transparent;
                  font-weight : bold;
                  
                  border-style:hidden;
                  font-style: century gothic;
                  font-size: 16px;
                }
                
                #echeancier .horaire {
                  width:60px;
                  text-align:center;
                  background-color:#CCFFFF ;
                  color:black;
                }
.etat_1 {
          background-color: #90EE90;
          color: red;      
          
}
.etat_2 {
          background-color: #FF7F50;
          text-decoration:line-through;
          background-image:url('images/stripetranspar.png');
          color:white;
      
}
.etat_3 {
          text-decoration:line-through;
          background-image:url('images/WO.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size: 90px;
          color:white;
      
}
.aucun {
         background-color:LightGray;
}
.titre {
  font-style:bold; 
  texte-decoration:underline;
  background-color:red;
}
@media print {
button {
display:none;}
input {
display:none;}
.terrain {
display:none;
}
}
                