.Couleur_texte { background-color:#010308;color:#010308;}
._MX_S2 { background-color:#872c64;color:#010308;}
._MX_S3 { background-color:#a9b8e5;color:#010308;}
._MX_S3_DEMI { background-color:#1f2890;color:#010308;}
._MX_S4 { background-color:#aae9b1;color:#010308;}
._MX_S4_DEMI { background-color:#160fb1;color:#010308;}
._MX_S4_QUA { background-color:#cf6984;color:#010308;}
._MX_S5 { background-color:#e13cee;color:#010308;}
._MX_S5_DEMI { background-color:#e2bfe2;color:#010308;}
._MX_S5_QUA { background-color:#637fdb;color:#010308;}
._PAUSE { background-color:#86c392;color:#010308;}
._SD_S3 { background-color:#3ff5c1;color:#010308;}
._SD_S3_DEMI { background-color:#e5cb30;color:#010308;}
._SD_S4 { background-color:#5ade32;color:#010308;}
._SH_S { background-color:#5686df;color:#010308;}
._SH_S2 { background-color:#49522a;color:#010308;}
._SH_S2_DEMI { background-color:#822bff;color:#010308;}
._SH_S2_QUA { background-color:#5aa0fa;color:#010308;}
._SH_S3 { background-color:#a728ef;color:#010308;}
._SH_S3_DEMI { background-color:#69ed5c;color:#010308;}
._SH_S3_QUA { background-color:#844f03;color:#010308;}
._SH_S4 { background-color:#8743c8;color:#010308;}
._SH_S4_1 { background-color:#30505e;color:#010308;}
._SH_S4_DEMI { background-color:#8d670c;color:#010308;}
._SH_S4_QUA { background-color:#eabf07;color:#010308;}
._SH_S5 { background-color:#5ded99;color:#010308;}
._SH_S5_1 { background-color:#40a987;color:#010308;}
._SH_S5_DEMI { background-color:#457ecb;color:#010308;}
._SH_S5_QUA { background-color:#c307d6;color:#010308;}

                          #echeancier td {
                            width:180px;
                            font-weight : bold;
                           
                            border-style:solid;
                            border-width:thin;
                            border-color:grey;
                            text-align:center;
                            border-radius : 10px;
                          }
                          #echeancier {
                                      width:100%;
                                      }
                          .num_match {
                            width:30px;
                            background:transparent;
                            font-weight : bold;
                            color:white;
                            border-style:hidden;
                            font-style: century gothic;
                            font-size: 16px;
                          }
                          .PAUSE {
                                  background-color:#DCDCDC;
                                  font-style:italic;
                                 }
                          #echeancier .horaire {
                            width:60px;
                            text-align:center;
                            background-color:#CCFFFF ;
                            color:black;
                          }
                .etat_1 {
          background-color: #90EE90; 
          color:red;     
          
}
.etat_2 {
          background-color: #FF7F50;
          text-decoration:line-through;
          background-image:url('images/stripetranspar.png');
          color:white;
      
}
.etat_3 {
          text-decoration:line-through;
          background-image:url('images/WO.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size: 90px;
          color:white;
      
}
.aucun {
         background-color:LightGray;
}
.titre {
  font-style:bold; 
  texte-decoration:underline;
  background-color:red;
}
@media print {
button {
display:none;}
input {
display:none;}
.terrain {
display:none;
}
}
                          
                          