.Couleur_texte { background-color:#010308;color:#010308;}
.MX_S1 { background-color:#5f89b0;color:#010308;}
.MX_S2 { background-color:#fe7cc3;color:#010308;}
.MX_S3 { background-color:#dc530d;color:#010308;}
.MX_S4 { background-color:#f75d98;color:#010308;}
.MX_S5 { background-color:#36c1e6;color:#010308;}
.MX_S6 { background-color:#c6e30c;color:#010308;}
.MX_S7 { background-color:#d11260;color:#010308;}
.PAUSE { background-color:#DCDCDC;color:#010308;}
.SD_S1 { background-color:#b3ac90;color:#010308;}
.SD_S2 { background-color:#05e545;color:#010308;}
.SD_S3 { background-color:#f5414b;color:#010308;}
.SD_S4 { background-color:#064f2c;color:#010308;}
.SD_S5 { background-color:#aaa8c1;color:#010308;}
.SD_S6 { background-color:#f3adc0;color:#010308;}
.SH_S1 { background-color:#367e8a;color:#010308;}
.SH_S2 { background-color:#c36c7e;color:#010308;}
.SH_S3 { background-color:#dce94c;color:#010308;}
.SH_S4 { background-color:#89042a;color:#010308;}
.SH_S5 { background-color:#ea2678;color:#010308;}
.SH_S6 { background-color:#826043;color:#010308;}
.SH_S7 { background-color:#08cee5;color:#010308;}

                          #echeancier td {
                            width:180px;
                            font-weight : bold;
                           
                            border-style:solid;
                            border-width:thin;
                            border-color:grey;
                            text-align:center;
                            border-radius : 10px;
                          }
                          #echeancier {
                                      width:100%;
                                      }
                          .num_match {
                            width:30px;
                            background:transparent;
                            font-weight : bold;
                            color:white;
                            border-style:hidden;
                            font-style: century gothic;
                            font-size: 16px;
                          }
                          .PAUSE {
                                  background-color:#DCDCDC;
                                  font-style:italic;
                                 }
                          #echeancier .horaire {
                            width:60px;
                            text-align:center;
                            background-color:#CCFFFF ;
                            color:black;
                          }
                .etat_1 {
          background-color: #90EE90; 
          color:red;     
          
}
.etat_2 {
          background-color: #FF7F50;
          text-decoration:line-through;
          background-image:url('images/stripetranspar.png');
          color:white;
      
}
.etat_3 {
          text-decoration:line-through;
          background-image:url('images/WO.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size: 90px;
          color:white;
      
}
.aucun {
         background-color:LightGray;
}
.titre {
  font-style:bold; 
  texte-decoration:underline;
  background-color:red;
}
@media print {
button {
display:none;}
input {
display:none;}
.terrain {
display:none;
}
}
                          
                          