.Couleur_texte .MX_D7_R6 .MX_D9_D8 .MX_P .PAUSE .SD_D9_D8 .SD_P .SD_R5_R4 .SH_D7_R6 .SH_D9_D8 .SH_P .SH_R5_R4  {
                  color : black;
                  background-color:white;
                  
                }
                .PAUSE {
                        background-color:#DCDCDC;
                        font-style:italic;
                }
                #echeancier td {
                  width:180px;
                  font-weight : bold; 
                  border-style:solid;
                  border-width:thin;
                  border-color:grey;
                  text-align:center;
                  border-radius : 10px;
                }
                #echeancier {                          
                            width:100%;
                            }
                 .num_match{
                  width:30px;
                  background:transparent;
                  font-weight : bold;
                  
                  border-style:hidden;
                  font-style: century gothic;
                  font-size: 16px;
                }
                
                #echeancier .horaire {
                  width:60px;
                  text-align:center;
                  background-color:#CCFFFF ;
                  color:black;
                }
.etat_1 {
          background-color: #90EE90;
          color: red;      
          
}
.etat_2 {
          background-color: #FF7F50;
          text-decoration:line-through;
          background-image:url('images/stripetranspar.png');
          color:white;
      
}
.etat_3 {
          text-decoration:line-through;
          background-image:url('images/WO.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size: 90px;
          color:white;
      
}
.aucun {
         background-color:LightGray;
}
.titre {
  font-style:bold; 
  texte-decoration:underline;
  background-color:red;
}
@media print {
button {
display:none;}
input {
display:none;}
.terrain {
display:none;
}
}
                